.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.App-window {
  background-color: lightgray;
  height: calc(100% - 30%);
  width: calc(100% - 30%);
  border-radius: 5px;
}

/* NAVIGATION BAR */

nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px;
}

li {
  margin-right: 20px ;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.dropdown ul {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul li {
  display: block;
}

.dropdown ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #333;
}

.dropdown ul li a:hover {
  background-color: grey;
}

/* MODAL POPUP */
.Folder-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  overflow: hidden;
}

.Folder-image {
  width: 40px;
}

.Folder-1 {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
}

.Folder-1 a {
  text-align: center;
  color: #333;
  padding-top: 0;
}

.Folder-2 {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
  padding-top: 0;
}

.Folder-2 a {
  text-align: center;
  color: #333;
  padding-top: 0;
}

.Folder-Nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.popup-title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.close-button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

nav.Folder-Nav ul li:last-child {
  margin-left: 280px;
}

.popup-links{
  display: flex;
  flex-wrap: wrap;
}

.Link-Image{
  width: 40px;
}

.Link-1 {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
}

.aboutme-text{
  padding-right: 10px;
  padding-left: 10px;
}